<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> Web Tunnel</title>
   <style>
       body, html {
           height: 100%;
           margin: 0;
           display: flex;
           justify-content: center;
           align-items: center;
           background-color: #1a1a1a;
       }
       iframe {
           width: 90%;
           height: 90%;
           border: none;
           background: white;
       }
   </style>
</head>
<body>
   <iframe src="/proxy" frameborder="0"></iframe>
</body>
</html>

